/DrowningDetectionDatasetCropped/swimming/*
/DrowningDetectionDatasetCropped/drowning/*
/DrowningDetectionDatasetCropped/not_swimming/*
/DrowningDetectionDatasetYolo/data/train/*
/DrowningDetectionDatasetYolo/data/test/*
/venv_main/*

!/DrowningDetectionDatasetCropped/swimming/.gitkeep
!/DrowningDetectionDatasetCropped/drowning/.gitkeep
!/DrowningDetectionDatasetCropped/not_swimming/.gitkeep
!/DrowningDetectionDatasetYolo/data/train/.gitkeep
!/DrowningDetectionDatasetYolo/data/test/.gitkeep